<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createModalLabel">Create a new candidate</h4>
                </div>
                <div class="modal-body">
                    <div class="conatiner">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{$ctrl.new_candidate.photo_url}}">
                            </div>


                            <div class="col-md-6">
                                <div class="input-group line">
                                    <span class="input-group-addon" id="lastname">Last Name</span>
                                    <input type="text" class="form-control" aria-describedby="lastname" ng-model="$ctrl.new_candidate.last_name">
                                </div>
                                <div class="input-group line">
                                    <span class="input-group-addon" id="firstname">First Name</span>
                                    <input type="text" class="form-control" aria-describedby="firstname" ng-model="$ctrl.new_candidate.first_name">
                                </div>
                                <div class="input-group line">
                                    <span class="input-group-addon" id="birthday">Birthday</span>
                                    <input type="text" class="form-control" aria-describedby="name" ng-model="$ctrl.new_candidate.birthday">
                                </div>
                            </div>
                        </div>


                        <div class="row line">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="address">Address</span>
                                    <input type="text" class="form-control" aria-describedby="address" ng-model="$ctrl.new_candidate.address">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="phone-number">Phone number</span>
                                    <input type="text" class="form-control" aria-describedby="phone-number" ng-model="$ctrl.new_candidate.phone_number">
                                </div>
                            </div>
                        </div>

                        <div class="row line">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">Salary</span>
                                    <input type="text" class="form-control" ng-model="$ctrl.new_candidate.salary">
                                    <span class="input-group-addon">$</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="email">email</span>
                                    <input type="text" class="form-control" aria-describedby="basic-addon3" ng-model="$ctrl.new_candidate.email">
                                </div>
                            </div>
                        </div>

                        <div class="row line">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon" id="photo_url">Photo URL</span>
                                    <input type="text" class="form-control" aria-describedby="photo_url" ng-model="$ctrl.new_candidate.photo_url">
                                </div>
                            </div>
                        </div>

                        <div class="row line">
                            <div class="col-md-9">
                                <label for="description">Description</label>
                                <textarea id="description" ng-model="$ctrl.new_candidate.description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="$ctrl.create()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="$ctrl.query">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div class="col-md-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
                Create
            </button>

        </div>
    </div>

    <div class="row line preview" ng-repeat="candidate in $ctrl.candidates | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <a href="#!/candidates/{{candidate.id}}">
            <div class="col-md-2">
                <img class="photo" ng-src="{{candidate.photo_url}}" alt="{{candidate.last_name}}" />
            </div>
            <div class="col-md-3">
                <div class="common-preview">
                    <h4>{{candidate.last_name}} {{candidate.first_name}}</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h5>Contacts:</h5>
                    <span class="label label-default">email</span>
                    <span >{{candidate.email}}</span>
                    <br>
                    <span class="label label-default">Phone number</span>
                    <span >{{candidate.phone_number}}</span>
                    <br>
                    <span class="label label-default">Address</span>
                    <span >{{candidate.address}}</span>
                </div>
            </div>

            <div class="col-md-2 salary-preview">
                <h5>Salary:</h5>
                <h4>{{candidate.salary}} $</h4>
            </div>
        </a>
        <div class="col-md-2">
            <div class="common-preview">
                <button type="button" class="btn btn-danger" ng-click="$ctrl.delete(candidate.id)">Delete</button>
            </div>
        </div>
    </div>
</div>